.idea/
nbproject/
nbproject/private/
app/etc/local.xml
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
.htaccess.sample
.modgit/
.modman/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
media/*
!media/.htaccess
RELEASE_NOTES.txt
var/*
!var/.htaccess
downloader/.cache/*
*~
*.swp