<?xml version="1.0"?>
<config>
    <frontend>
        <layout>
            <updates>
                <tttestimonials>
                    <file>tt_testimonials.xml</file>
                </tttestimonials>
            </updates>
        </layout>
        <routers>
            <tttestimonials>
                <use>standard</use>
                <args>
                    <module>TT_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </tttestimonials>
        </routers>
    </frontend>
    <admin>
        <routers>
            <tttestimonials_admin>
                <use>admin</use>
                <args>
                    <module>TT_Testimonials</module>
                    <frontName>testimonials_admin</frontName>
                </args>
            </tttestimonials_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <tttestimonials module="tttestimonials">
                <title>Testimonials</title>
                <sort_order>62</sort_order>
                <action>testimonials_admin/adminhtml_testimonials</action>
            </tttestimonials>
        </menu>
    </adminhtml>
    <global>
        <resources>
            <tttestimonials_setup>
                <setup>
                    <module>TT_Testimonials</module>
                </setup>
            </tttestimonials_setup>
        </resources>
        <models>
            <tttestimonials>
                <class>TT_Testimonials_Model</class>
                <resourceModel>tttestimonials_resource</resourceModel>
            </tttestimonials>
            <tttestimonials_resource>
                <class>TT_Testimonials_Model_Resource</class>
                <entities>
                    <table_entities>
                        <table>tt_testimonials_entities</table>
                    </table_entities>
                </entities>
            </tttestimonials_resource>
        </models>
        <helpers>
            <tttestimonials>
                <class>TT_Testimonials_Helper</class>
            </tttestimonials>
        </helpers>
        <blocks>
            <tttestimonials>
                <class>TT_Testimonials_Block</class>
            </tttestimonials>
        </blocks>
    </global>
    <modules>
        <TT_Testimonials>
            <version>0.0.1</version>
        </TT_Testimonials>
    </modules>
</config>